/**
 * Created by Chris Dorward on 12/03/2017
 * app/style
 */

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand > img {
  padding: 7px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.input-error{
  border-bottom: 2px solid #d95f49;
  background: white;
}

.nav-tabs > li, .nav-pills > li {
    float: none;
    display: inline-block;
    *display: inline; /* ie7 fix */
    zoom: 1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

#loader, .tab-pane {
  text-align: center;
}
.loader-img {
  margin-top: 15px;
}

.tab-pane td{
  text-align: left;
}

.tab-para {
  margin-top: 15px;
  margin-bottom: 15px;
}

.search-bg {
  background: #3b5b7d;
}

#results {
  visibility: hidden;
}
